<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/lucydog901/coding-camp">Thomasin Durgin</a> 
  </p>
  <br />
  <p>
    Thomasin Durgin is learning to code. This is Thomasin's first web database project. Thomasin hopes you like it!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'tomi.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Thomasin Durgin</h2>
      <br />
      <p>
        Thomasin Durgin is an artist living in Memphis, TN. Thomasin has worked in web content management, social work, and art education. You can view Thomasin's webite <a target="_blank" href="http://www.thomasin.com/">here</a>. It has not been updated in 9 years and was written with terrible code using an ancient version of Dreamweaver. Have fun!
      </p>
    </div>
  </div>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />